@import '~antd/dist/antd.css';
* {
    margin: 0;
    padding: 0;
    color: #666666;
    font-family: "微软雅黑", "Microsoft YaHei";
    outline: none;
}

#components-form-demo-register .icp-selector {
    width: 60px;
}
.headerContent{
    height: 40px;
    /*line-height: 40px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerContent p{
    /*padding: 0px 5px;*/
    margin-left: 10px;
    float: left;
}
.firstForm{
    background-color: white;
}
.block{
    width: 5px;
    height: 15px;
    background-color: #f27242;
    float: left;
}
.myForm{
    text-align: left;
    margin-left: -20%;
    padding: 15px 0;
    /*background-color: white;*/
}
.save{
    background-color: #f27242;
    color: white;
}
.input {
    text-align: left;
    width: 30%;
    float:left;
}
.secondForm {
    background-color: white;
}
.dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #999;
    transition: all .3s;
}
.dynamic-delete-button:hover {
    color: #777;
}
.dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}
.idName{
    display: none;
}

.ant-upload-select-picture-card i {
    font-size: 28px;
    color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    font-size: 12px;
    color: #666;
}

/*门店直立机显示播报*/
.machineConfig{
    padding: 40px 40px;
}

.machineConfig p{
    margin-top: -30px;
    padding: 10px 0;
    color: orange;
}

.Config{
    padding: 15px 0;
}
.Config .firstRow{
    margin-top: -4px;
    padding-bottom:15px;
}
.Config .switch{
   /*background-color: #f27242;*/
}

.Config .black{
    /*background-color: #f27242;*/
    background-color: black;
}

.Config .white{
    /*background-color: #f27242;*/
    background-color: white;
}

.Config .blue{
    /*background-color: #f27242;*/
    background-color: dodgerblue;
}
.pictureConfig{
    padding: 0 40px;
    /*display: flex;*/
    /*align-content: center;*/
}

.pictureConfig .show{
    padding: 20px 0;
    display: flex;
    align-items: center;
}



.exampleShow{
    width: 300px;
    height: 200px;
    text-align: center;
    line-height: 100px;
    margin-left: 50px;
    padding: 20px 10px;
    background-color: black;

}