@import '~antd/dist/antd.css';
#components-layout-demo-side .logo {
    height: 32px;
    background: #333;
    border-radius: 6px;
    margin: 16px;
}
.ant-layout-header {
    background: #404040;
    padding: 0 50px;
    height: 34px;
    line-height: 34px;
}